*,
::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(233, 233, 233);
}



.landing-center {
  margin-top: 5%;
  height: 60%;
  width: 100%;
  /* margin-right: 5%; */
  /* background-color: azure; */
  display: flex;
  flex-direction: column;
}

.upper-cont {
  height: 30%;
  width: 100%;
  /* background-color: lightcoral; */
  display: flex;
  flex-direction: column;
}
.title {
  display: flex;
  /* background-color: lightyellow; */
  margin-right: 30px;
  padding: 10px 0 0 0;
}
.title-bar {
  height: 60%;
  width: 100%;
  padding: 10px 0;
  /* background-color: white; */
  /* background-color: rgb(233, 233, 233); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.title > p {
  font-size: 35px;
  font-weight: 600;
}

.task {
  color: rgb(1, 202, 202);
}

.dash {
  color: rgb(163, 163, 163);
}

.selector {
  /* flex: 1 1; */
  /* background-color: lightslategray; */
  display: flex;
  /* overflow: auto; */
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}

.button {
  margin: 0 5px;
  padding: 7px 15px;
  background-color: lightgray;
  color: white;
  border: none;
  border-radius: 20px;
}

.lower-cont {
  margin-top: 2%;
  flex: 1;
  /* background-color: lightgreen; */
  display: flex;
  flex-direction: column;
}

.task-tab {
  height: max-content;
  width: 100%;
  margin-bottom: 2%;
  /* background-color: deepskyblue; */
  background-color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ch-di {
  display: flex;
  align-items: center;
  /* margin-left: 2%; */
}

.disc {
  display: flex;
  align-items: center;
  /* background-color: aquamarine; */
}

.edit-del {
  margin-right: 2%;
  display: flex;
}

@media (max-width: 600px) {
  .landing-cont {
    position: absolute;
    /* margin-top: 10%; */
    /* margin: 10% auto; */
    height: 100vh;
    width: 100%;
  }
  .title-bar {
    height: 80px;
    /* background-color: white; */
    /* background-color: rgb(233, 233, 233); */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .title {
    display: flex;
    /* background-color: lightyellow; */
    margin-right: 30px;
  }
  .title > p {
    font-size: 35px;
    font-weight: 600;
  }

  .selector {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button {
    margin: 0 2px;
    padding: 2px 8px;
    background-color: lightgray;
    color: white;
    border: none;
    border-radius: 20px;
  }
}
